header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background-color: #bbd9f3;
}

header button {
  height: auto;
}

header p {
  color: #2946a3;
  font-weight: 900;
  font-size: 20px;
  margin-top: 10px;
}

.user-info {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-info .panel:nth-child(1) {
  width: 40%;
}

.user-info .panel {
  width: 50%;
}

.panel {
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.panel .forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
}

#forecastImg {
  width: 20%;
}

.error-page {
  display: none;
}

.error-message {
  text-align: center;
}

.add-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-card button {
  margin-top: 1rem;
  width: 5.9rem;
  height: 2rem;
}

.filter-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-field {
  bottom: 10px;
  left: 10px;
}

.select-wrapper input.select-dropdown {
  height: 2.5rem;
}

input:not([type]) {
  height: 2.5rem;
}

.search-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-card button {
  margin-left: 10px;
  margin-top: 10px;
  width: 9rem;
  height: 2rem;
}

.input-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-data input {
  margin-left: 1rem;
  width: 40%;
}

table th:last-of-type {
  width: 9%;
}

table td:last-of-type {
  width: 9%;
}

.edit-user {
  text-align: center;
}

.select-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.select-id p {
  margin-right: 10px;
}

.select-id #selectUserid {
  margin-top: 10px;
  height: 2rem;
  padding-bottom: 0;
  width: 40%;
}

.change-user-data {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.change-user-data .change-user-name,
.change-user-data .change-user-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.change-user-data .change-user-name input,
.change-user-data .change-user-phone input {
  width: 70%;
  height: 2rem;
  margin-top: 10px;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */